/* Desktop (col-lg) 992px+ */
@media (min-width: 992px) {
    
}

/* Desktop e Tablets (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {
    
}

/*Tablets (col-sm) 576px a 767px */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/*Tablets e celulares (col) 0px a 767px */
@media (max-width: 767px) {
    .no-mobile {
        display: none !important;
    }

    .col-one {
        padding-left: 35px !important;
        padding-right: 35px !important;
    }

    .navbar-toggler-icon {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: var(--color-secondary);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;
    }

    .navbar-collapse .btn-icon {
        padding-right: 20px;
    }

    .navbar-collapse .btn-icon span.icon {
        display: none;
    }

    .banner {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-banner {
        margin-bottom: 25px !important;
    }

    .text-banner h1 {
        font-size: 36px;
    }

    .text-banner p {
        font-size: 18px;
    }

    .btn-yellow, .btn-white {
        padding: 8px 18px;
        font-size: 14px;
    }

    .btn-icon-left span.icon-left {
        width: 35px;
        height: 35px;
        margin-left: -45px;
    }

    .btn-icon-left {
        padding-left: 55px !important;
    }

    .title {
        font-size: 30px;
    }

    .btn-social {
        width: 45px !important;
        height: 45 !important;
    }
}